{% include menu-main.html %}

<header class="header header--page">
    <div class="row">
        <h1 class="header__title">
            {% if site.active_lang == "eu" and page.front_page %}
	            <span class="glitch" data-text="MÏnbìzîā">Minbizia</span>ren
            {% endif %}
            {{ page.title[site.active_lang] }}
	        {% if page.front_page %}
                {% unless site.active_lang == "eu" %}
	            <span class="glitch" data-text="cāncer">cancer.</span>
                {% endunless%}
	        {% endif%}
	    </h1>
        {% if page.subtitle %}
        <h2 class="header__subtitle">{{ page.subtitle[site.active_lang] }}</h2>
        {% endif %}
    </div>

    {% if page.submenu[site.active_lang] %}
        {% include menu-submenu.html %}
    {% endif%}
</header>
