<div class="caretakers grid grid--half grid-medium--fit grid-medium--columns grid--justifycenter grid--gutters">

    {% assign societies = (site.data.societies | sort: 'name')  %}

    {% for society in societies %}

        {% assign slug = (society.name | downcase | replace: ' ', '-' | replace: '.', '-')  %}
        <div class="grid__col grid__col--2">
            <a class="societies" href="{{ society.link }}" rel="external">

              {% if society.logo == false %}
                  <span class="society__name">{{ society.name }}</span>
              {% else %}
                  <!-- <svg class="logo-caretaker logo-caretaker--{{ slug }}" aria-labelledby="title">
                      <title>{{ caretaker.name }}</title>
                      <use xlink:href="/assets/img/sprite.svg#logo-{{ slug }}"></use>
                  </svg>-->
                  <img class="logo-caretaker"src="/assets/img/{{ society.logo }}">
              {% endif %}

            </a>
        </div>

    {% endfor %}
</div>
