<!-- =========================
    INTRO SECTION
============================== -->
<section id="intro" class="parallax-section" style="background: url({{site.css_img_intro_bg}}) 50% 0 repeat-y fixed;">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3 class="wow bounceIn" data-wow-delay="0.9s">COVID19 NEWS: THIS WEBSITE IS A WIP, IS NOT FULLY UPDATED. EUROSCIPY 2020 DATES FOR HACKCANCER ARE UNCERTAIN, PLEASE DO NOT TAKE THIS WEBSITE AS HACKCANCER MAIN INFO SITE</h3>
				<h1 class="wow fadeInUp" data-wow-delay="1.6s">HACKCANCER: A Datathon where Health and Data Science meet</h1>
				<a href="#overview" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">LEARN MORE</a>
				<a href="#register" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">REGISTER NOW</a>
			</div>
		</div>
	</div>
</section>
