<!-- =========================
     NAVIGATION LINKS
============================== -->
<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
	<div class="container">
		<!-- navbar header -->
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="{{site.site_url}}#" class="navbar-brand">HackCancer</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{site.site_url}}/index.html#intro" class="smoothScroll">Intro</a></li>
				<li><a href="{{site.site_url}}/index.html#overview" class="smoothScroll">Overview</a></li>
				{% if site.show_mentors == true %}
				<li><a href="{{site.site_url}}/index.html#speakers" class="smoothScroll">Mentors</a></li>
				{% endif %}

				{% if site.show_program == true %}
				<li><a href="{{site.site_url}}/index.html#program" class="smoothScroll">Programs</a></li>
				{% endif %}

				<li><a href="{{site.site_url}}/index.html#register" class="smoothScroll">Register</a></li>
				<li><a href="{{site.site_url}}/index.html#venue" class="smoothScroll">Venue</a></li>
				<li><a href="{{site.site_url}}/index.html#sponsors" class="smoothScroll">Caretakers</a></li>
				<li><a href="{{site.site_url}}/index.html#contact" class="smoothScroll">Contact</a></li>
				<li><a href="{{site.site_url}}/encastellano.html" class="smoothScroll">enCastellano</a></li>
				<li><a href="{{site.site_url}}/euskaraz.html" class="smoothScroll">Euskaraz</a></li>

			</ul>
		</div>
	</div>
</div>
