<!-- =========================
    OVERVIEW SECTION
============================== -->
<section id="overview" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">
				<h3>The vision</h3>
				<p>Being diagnosed with cancer sucks, a team of friends in London
					decided to do something about it and Hack Cancer was born.
					On October 10th – 11th 2015, forty of the best developers and doctors
					from around the world, gathered at Google Campus to build products
					to beat cancer.
					Now the community decided to keep up with the project and organize
					the next chapter, a Cancer Datathon.
				</p>
				<h3>What to expect</h3>
<p>For 5 days from July 27th - 30th 2020 the best techies and doctors from around world,
will gather at Bilbao to give the best of themselves for cancer patients.
Various multidisciplinary teams will work together to test
new machine learning algorithmic approaches to a known diseases, Cancer.
</p>
			</div>
			<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">
				<img src="images/overview-img.jpg" class="img-responsive" alt="Overview">
			</div>
		</div>
	</div>
</section>
