<!-- =========================
    SPONSORS SECTION
============================== -->
<section id="sponsors" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow bounceIn col-md-12 col-sm-12">
				<div class="section-title">
					<h2>Our Caretakers</h2>
					<p>Help HackCancer becoming one of our caretakers</p>
				</div>
				<a href="/sponsoring.html" class="btn btn-lg btn-info smoothScroll wow fadeInUp" data-wow-delay="2">BECOME A CARETAKER</a>

			</div>
			{% for caretaker in site.data.caretakers %}
			<div class="wow fadeInUp col-md-3 col-sm-6 col-xs-6" data-wow-delay="0.9s">
				<img src="{{ caretaker.img }}" class="img-responsive" alt="sponsors">
			</div>
			{% endfor %}



		</div>
	</div>

</section>
