<!-- =========================
    VENUE SECTION
============================== -->
<section id="venue" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow fadeInLeft col-md-offset-1 col-md-5 col-sm-8" data-wow-delay="0.9s">
				<h2>Bizkaia Aretoa. UPV/EHU. Bilbao.</h2>
				<p>HackCaner 2020 will be at Bizkaia Aretoa. It is an emblematic building
					designed by the architect Álvaro Siza, who has given priority to "maintaining
					the scale of the place, respecting cornices and placing the ground floor at
					 the service of the pedestrian, open and permeable, offering views
					 inside with huge wings that integrate the private space in the public
					 area and vice versa". </p>
				<a href="https://www.google.com/maps/d/u/0/viewer?msa=0&ll=43.26600326495038%2C-2.937147999999979&spn=0.011359%2C0.027874&mid=1xkHMkI7X6lPzRNjtzeAKYlbCq60&z=14"> Google maps link </a>
				 <h4>University of the Basque Country</h4>
  				<h4>Avda. Abandoibarra, 3, 48009 Bilbao, Bizkaia, Spain</h4>
  				<h4></h4>
				<h4></h4>
			</div>

		</div>
	</div>
</section>
