<!-- =========================
    VIDEO SECTION
============================== -->
<section id="video" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow fadeInUp col-md-6 col-sm-10" data-wow-delay="1.3s">
				<h2>Previus editions in the news</h2>
				<h3></h3>
				<ul>
					<li> HackCancer 2018 Edition in Healt 2.0 Basque Web Platform (Spanish)
						<a href="http://www.health20basque.com/2018/06/donosti-acogera-la-primera-edicion-del-hack-cancer-en-espana/"> Link </a>
						</li>
					<li> HackCancer 2018 Edition in GARA newspaper (Spanish)
						<a href="https://www.naiz.eus/en/hemeroteca/gara/editions/2018-06-14/hemeroteca_articles/importantes-descubrimientos-en-la-maraton-de-datos-de-hack-cancer">Link</a>
							</li>
					<li> HackCancer 2018 Edition in EITB, local television. (video, Basque)
						<a href="https://www.eitb.eus/eu/irratia/euskadi-irratia/programak/amarauna/osoa/5653065/gipuzkoa-hack-cancer-ikerketa-maratoia-minbiziaren-borroka-egiteko/">Link</a>
						</li>
						<li> HackCancer 2018 Edition in EITB, lodal radio. (audio, Basque)
							<a href="https://www.eitb.eus/eu/irratia/euskadi-irratia/programak/amarauna/audioak/osoa/5653066/audioa-gipuzkoa-hack-cancer-ikerketa-maratoia-minbiziaren-borroka-egiteko/">Link</a>
							</li>
				</ul>
			</div>
			<div class="wow fadeInUp col-md-6 col-sm-10" data-wow-delay="1.6s">
				<div class="embed-responsive embed-responsive-16by9">
				</div>
			</div>
		</div>
	</div>
</section>
