---
layout: page
front_page: true

css: page-front
permalink: / 
lang: site.active_lang

narrow: false

title:
    en: A 24h Datathon against
    es: 24h de Datathon contra el
    eu: aurkako 24h-ko Datathoia.

subtitle:
    en: Medicine, lot of data, math and fun.
    es: Medicina, datos, mates y buenbuen rolloo. 
    eu: Medikuntza, datuak, matematikak gure tresnak.

submenu:
    en:
    - name: "Roadmap"
      link: "#roadmap"
    - name: "Caretakers"
      link: "#caretakers"
    - name: "Subscribe"
      link: "#subscribe"
    es:
    - name: Evento 
      link: "#roadmap"
    - name: Sponsors 
      link: "#caretakers"
    - name: Suscribete 
      link: "#subscribe"
    eu:
    - name: Ekitaldia 
      link: "#roadmap"
    - name: Babesleak 
      link: "#caretakers"
    - name: Izen ematea 
      link: "#subscribe"
---

{% assign content = site.data.index %}

<section class="section section--intro">
    <div class="row">
        <header class="section__header">
            <div class="grid grid--full grid-small--columns grid--center grid--gutters">
				<div class="grid__col grid__col--4">
                    <h1 class="section__title" id="roadmap">{{ content.roadmap.title }}</h1>
                    <p class="section__description">{{ content.roadmap.description }}</p>
                </div>
                <div class="grid__col grid__col--2">
                    <svg width="559" height="253" aria-labelledby="title">
                        <title>HackCancer graph image</title>
                        <use xlink:href="/assets/img/sprite.svg#governance"></use>
                    </svg>
				</div>
            </div>
        </header>
    </div>
    <div class="roadmap">
        <div class="row">

            {% for step in content.roadmap.steps %}

                {% assign status = step.status %}

                <div class="roadmap__step is-{{ status }}">
                    <p class="roadmap__net">{{ step.net }}</p>
                    <p class="roadmap__target">{{ step.target }}</p>
                    {% if step.time %}<p class="roadmap__time">{{ step.time }}</p>{% endif %}
                </div>

            {% endfor %}

        </div>
    </div>
    <footer class="row">
        <footer class="section__actions" style="border-top: none; margin-top: 15%;">
			<a class="button button--primary button--large bold" href="/register/">{{content.roadmap.calltoaction}}</a>
            <a class="button button--large button--text" href="/event/#timetable" >{{content.roadmap.calltotimetable}}</a>
        </footer>
    </footer>
</section>

<section class="section section--background section--caretakers" id="caretakers">
    <div class="row">
        <header class="section__header">
            <div class="grid grid--full grid-medium--columns grid--center grid--gutters">
                <div class="grid__col grid__col--5">
                    <h1 class="section__title">{{ content.caretakers.title }}</h1>
                    <p class="section__description">{{ content.caretakers.description }}</p>
                </div>
            </div>
        </header>
    </div>
    <div class="row caretakers-current">
        <div class="grid grid--full grid-medium--columns grid--center grid--gutters">
            <div class="grid__col grid__col--5">
                <h2 class="section__title">{{ content.caretakers.members.title }}</h2>
                <p class="section__description">{{ content.caretakers.members.description }}</p>
            </div>
        </div>

        {% include caretakers.html %}
    </div>

    <footer class="row">
        <footer class="section__actions">
            <a href="/sponsor/" class="button button--large button--text">{{ content.caretakers.calltoaction }}</a>
        </footer>
    </footer>
</section>

<section class="section section--intro" id="subscribe">
	<div class="row">
		<div class="grid grid--full grid-medium--columns grid--center grid--gutters">
			<div class="grid__col grid__col--6">
				<h2 class="section__title">{{ content.newsletter.title }}</h2>
				{% include form-newsletter.html %}
			</div>
		</div>
	</div>
</section>

