---
layout: page
front_page: true

title: A 24h Datathon
subtitle: Medicine, lot of data, math and fun.

css: page-front
---

{% assign content = site.data.content-front %}

<section class="section section--intro">
    <div class="row">
        <header class="section__header">
            <div class="grid grid--full grid-small--columns grid--center grid--gutters">
                <div class="grid__col grid__col--4">
                    <div class="section__description">{{ content.intro | markdownify }}</div>
                </div>
                <div class="grid__col grid__col--2">
                    <svg width="559" height="253" aria-labelledby="title">
                        <title>HackCancer Governance</title>
                        <use xlink:href="/assets/img/sprite.svg#governance"></use>
                    </svg>
		</div>
		<div class="grid__col grid__col--4">
                    <h1 class="section__title" id="roadmap">{{ content.roadmap.title }}</h1>
                    <p class="section__description">{{ content.roadmap.description }}</p>
                </div>
            </div>
        </header>
    </div>
    <div class="roadmap">
        <div class="row">

            {% for step in content.roadmap.steps %}

                {% assign status = step.status %}

                <div class="roadmap__step is-{{ status }}">
                    <p class="roadmap__net">{{ step.net }}</p>
                    <p class="roadmap__target">{{ step.target }}</p>
                    {% if step.time %}<p class="roadmap__time">{{ step.time }}</p>{% endif %}
                </div>

            {% endfor %}

        </div>
    </div>

</section>

<section class="section section--background section--caretakers" id="caretakers">
    <div class="row">
        <header class="section__header">
            <div class="grid grid--full grid-medium--columns grid--center grid--gutters">
                <div class="grid__col grid__col--4">
                    <h1 class="section__title">{{ content.caretakers.title }}</h1>
                    <p class="section__description">{{ content.caretakers.description }}</p>
                </div>
            </div>
        </header>

        {% include societies.html %}
    </div>



    <div class="row features">
        <div class="grid grid--full grid-small--half grid--gutters">
        {% for feature in content.caretakers.features %}
            <div class="grid__col">
                <div class="feature">
                    <svg class="feature__image" width="298" height="220" aria-labelledby="title">
                        <title>HackCancer Governance</title>
                        <use xlink:href="/assets/img/sprite.svg#distributed"></use>
                    </svg>
                    <h3 class="feature__title">{{ feature.title }}</h3>
                    <p class="feature__description">{{ feature.description }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="row caretakers-current">
        <div class="grid grid--full grid-medium--columns grid--center grid--gutters">
            <div class="grid__col grid__col--4">
                <h2 class="section__title">{{ content.caretakers.members.title }}</h2>
                <p class="section__description">{{ content.caretakers.members.description }}</p>
            </div>
        </div>

        {% include caretakers.html %}
    </div>

    <footer class="row">
        <footer class="section__actions">
            <a href="/helpus/" class="button button--large button--text">Become a caretaker</a>
        </footer>
    </footer>
</section>

<section class="section section--subscribe" id="subscribe">
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="https://hackcancer.us17.list-manage.com/subscribe/post?u=883c6f2a324717b0e0665c481&amp;id=b76abc1701" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">

    	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_883c6f2a324717b0e0665c481_b76abc1701" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
</div>

<!--End mc_embed_signup-->
</section>

<!--
<section class="section section--board" id="board">
    <div class="row">
        <header class="section__header">
            <div class="grid grid--full grid-medium--columns grid--center grid--gutters">
                <div class="grid__col grid__col--4">
                    <h1 class="section__title">{{ content.board.title }}</h1>
                    <p class="section__description">{{ content.board.description }}</p>
                </div>
            </div>
        </header>
    </div>

    <div class="row">
        {% include board.html %}
    </div>
</section> -->
