<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">
{% include preloader.html %}
{% include navigation.html %}
{% include intro.html %}
{% include overview.html %}
{% include detail.html %}
{% include video.html %}

{% if site.show_mentors == true %}
{% include speakers.html %}
{% endif %}

{% if site.show_program == true%}
{% include program.html %}
{% endif %}

{% include register.html %}

{% if site.show_faq == true%}
{% include faq.html %}
{% endif %}
{% include venue.html %}
{% include sponsors.html %}
{% include contact.html %}
{% include footer.html %}
{% include scripts.html %}

</body>
</html>
